

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Time</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'/>
    <meta charset ="UTF-8">
  </head>
  <body>
   	<h1>Create Time</h1>
   	
   <!-- 	<form method="get" action ="createTime">
    Start Time: <input type="text" placeholder="HH:MM" name = "startTime">
    Finish Time: <input type="text" placeholder ="HH:MM" name="finishTime">
    <input type="submit" value="GetCreateTime">
    <input type = reset>
	</form>  --> 
	
	<form method="post" action ="createTime">
	<div>
	User ID: <input type="number" placeholder="00x" name = "ID">
	</div>
	<div>
    Start Time: <input type="text" placeholder="HH:MM" name = "startTime1">
    </div>
    <div>
    Finish Time: <input type="text" placeholder ="HH:MM" name="finishTime1">
    </div>
    <div>
    Date: <input type="date" name = "date1" placeholder = "DD/MM/YYYY">
    </div>
    <div>
    <input type="submit" value="Submit">
    </div>
    <input type = reset>
	</form> 
	<!--
	<div>
	<a href = 'TimeSheet'> View all times </a>
	</div>
      -->
  </body>
</html>